# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.vscode

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/app/src/main/assets/flutter_assets/
android/app/build/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
# Spring Boot
backend/target/
backend/.mvn/wrapper/maven-wrapper.properties
backend/mvnw
backend/mvnw.cmd
backend/help.md
.env
.DS_Store

# IDEs
.idea
.vscode
*.iml

# Deployment / Local Build
.vercel
flutter/
